<!DOCTYPE html>
<html>
<head>
  <title>Stuff</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Sign in with Twitter", "/en/auth/twitter" %><br>
  Language:
  <%= link_to_unless_current "English", locale: "en" %> |
  <%= link_to_unless_current "BRigBRag", locale: "br_ag" %>
<%= yield %>

</body>
</html>
